* {
  display: flex;
  font-family: monospace;
  font-size: 18px;
  padding: 0;
  background-color: black;
  color: rgb(138, 13, 13);
}

#main {
  padding-left: 0;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  left: 50px;
  width: 1000px;
}

/* NAVBAR STYLES */

.navbar {
  position: fixed;
  display: block;
  width: 300px;
  left: 0;
  top: 0;
  background-color: rgb(138, 13, 13);
  padding: 20px;
  margin: 0;
  color: black;
}

.tag h1 {
  font-size: 70px;
  color: gray;
  background-color: rgb(138, 13, 13);
}

.navbar-links {
  display: block;
  font-size: 50px;
  background-color: rgb(138, 13, 13);
  padding: 0;
}

.navbar-links h3 {
  display: flex;
  justify-content: center;
  color: gray;
  background-color: rgb(138, 13, 13);
}

/* ALL AIRCRAFTS STYLES */

.all-aircrafts-container {
  display: block;
}

.all-aircrafts-container h3 {
  font-size: 40px;
  text-decoration: gray underline;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.all-aircrafts-container button {
  top: 20px;
  right: 20px;
}

.all-aircrafts-list {
  display: block;
  justify-content: center;
}

.each-aircraft {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-aircraft h4 {
  font-size: 30px;
}

.each-aircraft img {
  width: 600px;
  height: 350px;
}

/* SINGLE AIRCRAFT STYLES */

.single-aircraft-container {
  display: block;
}

.header {
  display: flex;
}

.title h3 {
  display: flex;
  justify-content: center;
  width: 1000px;
  padding: 20px;
  font-size: 40px;
  text-decoration: gray underline;
}

.title-words {
  display: block;
  width: 400px;
}

.words {
  display: block;
  padding: 0;
  align-content: center;
}

.words h4 {
  padding: 5px;
}

.image img {
  width: auto;
  height: 400px;
}

.description {
  padding: 20px;
}
.buttons {
  justify-content: space-around;
  padding: 30px;
}

/* ALL COUNTRIES STYLES */

.all-countries-container {
  display: block;
}

.all-countries-list {
  display: block;
}

.each-country {
  display: block;
  border: 2px solid green;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-country img {
  width: 600px;
  height: 350px;
}

h3, h4 {
  font-size: 30px;
}

/* SINGLE COUNTRY STYLES */

.single-country-container {
  display: block;
}

.country-aircraft-list {
  display: block;
}

.single-aircraft {
  display: flex;
}

.single-country-container img {
  width: 600px;
  height: 350px;
}

/* TOP FIVE STYLES */

.top-five-container {
  background-color: black;
}

.top-five-container h4 {
  color: red;
}

/* ADD AIRCRAFT STYLES */

.new-aircraft-form {
  display: block;
  padding-left: 20px;
}

.form-inputs {
  display: inline;
}

/* EDIT AIRCRAFT STYLES */

.edit-aircraft-form {
  display: block;
}

/* ADD COUNTRY STYLES */

.new-country-form {
  display: block;
  padding-left: 20px;
}

