* {
  display: flex;
  font-family: monospace;
  font-size: 18px;
  padding: 0;
  background-color: black;
  color: red;
}

#main {
  padding-left: 0;
}

h1 {
  font-size: 50px;
  background-color: red;
}

/* NAVBAR STYLES */

.navbar {
  position: fixed;
  display: block;
  height: 100vh;
  width: 600px;
  left: 0;
  top: 0;
  background: red;
  padding: 20px;
  margin: 0;
  justify-content: center;
  color: black;
}

.navbar-links {
  display: block;
  background-color: white;
  font-size: 30px;
  text-decoration: none;
  justify-content: center;
  padding: 0;
}

.nav-item {
  background-color: white;
  padding: 0;
}

/* ALL AIRCRAFTS STYLES */

.all-aircrafts-container {
  display: block;
}

.all-aircrafts-list {
  display: block;
}

.each-aircraft {
  display: block;
  border: 2px solid green;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-aircraft img {
  width: 600px;
  height: 350px;
}

h3, h4 {
  font-size: 30px;
  /* text-decoration: none; */
}

/* SINGLE AIRCRAFT STYLES */

.single-aircraft img {
  width: 800px;
  height: auto;
}

/* ALL COUNTRIES STYLES */

.all-countries-container {
  display: block;
}

.all-countries-list {
  display: block;
}

.each-country {
  display: block;
  border: 2px solid green;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-country img {
  width: 600px;
  height: 350px;
}

h3, h4 {
  font-size: 30px;
  /* text-decoration: none; */
}
