* {
  display: flex;
  font-family: monospace;
  font-size: 18px;
  padding: 0;
  background-color: black;
  color: rgb(138, 13, 13);
}

#main {
  padding-left: 0;
}

/* MAIN CONTENT */

.main-content {
  position: relative;
  left: 50px;
  width: 1000px;
  border: 5px solid yellow;
}

/* NAVBAR STYLES */

.navbar {
  position: fixed;
  display: block;
  height: 100vh;
  width: 300px;
  left: 0;
  top: 0;
  background: rgb(138, 13, 13);
  padding: 20px;
  margin: 0;
  justify-content: center;
  color: black;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  background-color: rgb(138, 13, 13);
  padding: 0;
}

.nav-item {
  background-color: white;
  padding: 0;
  color: inherit;
  text-decoration: none;
  background-color: rgb(138, 13, 13);
}

.navbar h1 {
  font-size: 70px;
  background-color: rgb(138, 13, 13);
}

.navbar h3 {
  font-size: 50px;
  background-color: rgb(138, 13, 13);
}

/* ALL AIRCRAFTS STYLES */

.all-aircrafts-container {
  display: block;
}

.all-aircrafts-list {
  display: block;
}

.each-aircraft {
  display: block;
  border: 2px solid gray;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-aircraft img {
  width: 600px;
  height: 350px;
}

h3, h4 {
  font-size: 30px;
}

/* SINGLE AIRCRAFT STYLES */

.single-aircraft-container {
  display: block;
}

.title {
  padding: 20px;
}

.title-words {
  display: block;
}

.words {
  display: flex;
  padding: 0;
  align-content: center;
}

.words h4 {
  padding: 20px;
}

.image img {
  width: auto;
  height: 400px;
}

.description {
  padding: 20px;
}
.buttons {
  justify-content: space-around;
  padding: 30px;
}

/* ALL COUNTRIES STYLES */

.all-countries-container {
  display: block;
}

.all-countries-list {
  display: block;
}

.each-country {
  display: block;
  border: 2px solid green;
  padding: 30px;
  height: 500px;
  width: 1000px;
}

.each-country img {
  width: 600px;
  height: 350px;
}

h3, h4 {
  font-size: 30px;
}

/* SINGLE COUNTRY STYLES */

.single-country-container {
  display: block;
}

.country-aircraft-list {
  display: block;
}

.single-aircraft {
  display: flex;
}

.single-country-container img {
  width: 150px;
  height: 100px;
}
